<!doctype html>
<meta charset="utf-8">
<html>
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <header id="top" class="navbar navbar-static-top" role="banner">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Кот Саймона изучает геометрию</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/stats">Моя статистика</a></li>
                                <li><a href="/admin">Управление сайтом</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div id="alert-area"></div>
            <div id="main-region">
                <p>Web app is loading, please wait.</p>
            </div>
        </div>

        <script type="text/template" id="static-template">
        Static template.
        </script>

        <script type="text/template" id="admin-section-list">
        <p>
            <a class="btn btn-primary" href="/admin/sections/new">Добавить лекцию</a>
        </p>
        <div>
        </div>
        <!--<a class="btn-floating float" href="/admin/sections/new"><i class="mdi-content-add"></i></a>-->
        </script>

        <script type="text/template" id="section-list-item">
        <h2><%= subject %></h2>
        <p><%= summary %></p>
        <button type="button" class="btn btn-primary" id="lection-show">Читать лекцию</button>
        <button type="button" class="btn btn-default" id="test-show">Пройти тест</button>
        </script>

        <script type="text/template" id="admin-section-list-item">
        <h2><%= subject %></h2>
        <p><%= summary %></p>
        <a href="/admin/sections/edit/<%= id %>" class="btn btn-default">Редактировать</a>
        <a href="" id="section-delete" class="btn btn-danger">Удалить</a>
        </script>

        <script type="text/template" id="admin-section-edit-item">
        <h2>Лекция</h2>
        <p><button type="button" class="btn btn-default" id="save-button">Сохранить</button></p>
        <form class="form">
            <div class="form-group">
                <label for="subject">Тема</label>
                <input class="form-control" name="subject" type="text" value="<%= subject %>" required>
            </div>
            <div class="form-group">
                <label for="order">Номер п/п</label>
                <input class="form-control" name="order" type="number" value="<%= order %>" required>
            <div>
            <div class="form-group">
                <label for="subject">Краткое содержание</label>
                <input class="form-control" name="summary" type="text" value="<%= summary %>" required>
            </div>
            <div class="form-group">
                <label for="lection">Содержание</label>
                <textarea class="form-control" name="lection" id="lection" rows="20" data-provide="markdown-editable"><%= lection %></textarea>
            </div>
            <h2>Вопросы</h2>
            <p id="questions"></p>
            <button type="button" class="btn btn-primary" id="question-add">Добавить вопрос</button>
        </form>
        </script>

        <script type="text/template" id="admin-answer-edit-item">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Вариант ответа</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="<%= text %>" name="text">
                </div>
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="correct" <% if (correct) { %> <%= "checked" %> <% } %>> Правильный ответ
                        </label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="answer-delete"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
            </div>
        </form>
        </script>

        <script type="text/template" id="admin-question-edit-item">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="question" class="col-sm-2 control-label">Вопрос</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="question" value="<%= question %>">
                        </div>
                    </div>
                </form>
                <div class="col-sm-10 col-md-offset-2" id="answers">
                </div>
                <div class="col-md-offset-8">
                    <button class="btn btn-default" type="button" id="answer-add">Добавить вариант ответа</button>
                    <button class="btn btn-danger" type="button" id="question-delete">Удалить вопрос</button>
                </div>
            </div>
        </div>
        </script>

        <script type="text/template" id="alert-message">
        <div class="alert alert-<%= level %> alert-dismissable fade in">
            <button class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true"></span>
                <span class="sr-only"></span>
            </button>
            <strong><%= text %></strong>
        </div>
        </script>

        <script type="text/template" id="section-show-item">
        <h1 class="page-header">Лекция</h1>
        <h2><%= subject %></h2>
        <p><%= markdown(lection) %></p>

        <% if (!empty(questions)) { %>
        <h1 class="page-header">Тест</h1>
        <form>
            <div class="list-group">
                <% _.each(questions, function(question, n) { %>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4>Вопрос <%= n + 1 %> <span class="label" id="question-label-<%= question.id %>"></span></h4>
                    </div>
                    <p class="list-group-item-text">
                        <p><%= question.question %></p>
                        <% if (question.answer_variants.length == 1) { %>
                            <% var answer = question.answer_variants[0]; %>
                            <input type="text" name="<%= answer.id %>" class="form-control" placeholder="Введите ответ">
                        <% } else { %>
                            <% _.each(question.answer_variants, function(answer) { %>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="<%= answer.id %>"> <%= answer.text %>
                                </label>
                            </div>
                            <% }) %>
                        <% } %>
                    </p>
                </div>
                <% }) %>
            </div>
        </form>
        <% } %>
        <div class="container">
            <button type="button" class="btn btn-default" id="submit-quiz">Отправить ответы</button>
        </div>
        <div class="container" id="results">
        </div>
        </script>

        <script type="text/template" id="results-view">
        <h1 class="page-header">Результат</h1>
            <div class="progress">
                <div class="progress-bar"
                     role="progressbar"
                     aria-valuenow="<%= correct %>"
                     aria-valuemin="0"
                     aria-valuemax="<%= total %>"
                     style="width: <%= correct / total * 100 %>%">
                </div>
            </div>
            <center>
                <h1><%= correct / total * 100 %>%</h1>
            </center>
        </script>

        <script type="text/template" id="loading-view">
        Пожалуйста, подождите.
        </script>

        <script type="text/template" id="admin-main">
        Admin main page
        </script>

        <script type="text/template" id="static-confirm">
        Вы уверены?
        </script>

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/bower_components/backbone.syphon/lib/backbone.syphon.js"></script>
        <script src="/bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/markdown/lib/markdown.js"></script>
        <script src="/bower_components/bootstrap-markdown/js/bootstrap-markdown.js"></script>
        <script src="/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <script src="/js/app.js"></script>
        <script src="/js/helpers.js"></script>
        <script src="/js/apps/common/views.js"></script>
        <script src="/js/models/base.js"></script>
        <script src="/js/models/section.js"></script>
        <script src="/js/models/question.js"></script>
        <script src="/js/models/answer.js"></script>
        <script src="/js/models/quiz.js"></script>
        <script src="/js/models/stats.js"></script>

        <script src="/js/apps/sections/sections_app.js"></script>
        <script src="/js/apps/sections/list/controller.js"></script>
        <script src="/js/apps/sections/list/view.js"></script>
        <script src="/js/apps/sections/show/controller.js"></script>
        <script src="/js/apps/sections/show/view.js"></script>
        <script src="/js/apps/admin/admin_app.js"></script>
        <script src="/js/apps/admin/list/controller.js"></script>
        <script src="/js/apps/admin/list/view.js"></script>
        <script src="/js/apps/admin/edit/view.js"></script>
        <script src="/js/apps/admin/edit/controller.js"></script>
        <script src="/js/routers.js"></script>

        <script>
            WebTester.start();
        </script>
    </body>
</html>
